<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.NFC" />
  <uses-feature android:name="android.hardware.nfc" android:required="false" />
  <uses-feature android:name="android.hardware.nfc.hce" android:required="false" />

  <application>
    <service
      android:name=".hce.NfcXHostApduService"
      android:exported="true"
      android:permission="android.permission.BIND_NFC_SERVICE"
      android:label="@string/nfcx_hce_service_label">
      <intent-filter>
        <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data
        android:name="android.nfc.cardemulation.host_apdu_service"
        android:resource="@xml/nfcx_apduservice" />
    </service>
  </application>
</manifest>
